@model UserInfoViewModel

<div>
    <h4>Informacion del usuario:</h4>
    <p><strong>Nombre: </strong>@Model.UserName</p>
    <p><strong>Email: </strong>@Model.Email</p>
    <p><strong>Edad: </strong>@Model.Age</p>
</div>

<partial name="_Carousel"/>